.yellow-ligne{
background-color: #ffd233;
height: 5px;
}
.black{
    background-color: black;
    height: 30px;
}
.red-line{
    background-color: red;
    height: 2px;
}
.card{
    background-color: #ffd233!important;
    border: none!important;
    border-radius: 0px;
}